<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_3_1.xsd">
	
	<!-- 
		web.xml 파일  (배포 서술자)
		- WAS(Web Application Server, Tomcat) 실행 시 가장 먼저 읽어들이는 파일
		- 서버 실행 시 초기에 로딩해야할 xml 문서들을 작성해놓거나
		  servlet 실행 전 초기화(init)을 하는 용도로 사용됨.
		  
	-->
	
	<!-- welcome-file-list : context path로 요청이 들어올 경우 연결할 파일 리스트 작성-->
	<welcome-file-list>
	
	</welcome-file-list>
	
	<!-- context-param : 설정에 사용할 파라미터를 설정하는 태그  -->
	<!-- contextConfigLocation(설정 파일 경로) :  
		(스프링 컨테이너가 생성되기 전에 모든 서블릿 및 필터가 공유하는 설정내용이 담긴 xml파일 경로를 정의)
	-->


	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			<!-- /WEB-INF/spring/root-context.xml -->
			classpath:spring/root-context.xml
		</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<!-- 
		Dispatcher Servlet 파일 정의
		
		- Servlet mapping에 해당하는 Handler Mapping, View Resolver 정보를 저장하고 있는
		  xml 문서를 등록하는 태그  servlet-context.xml
	  -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
			<!-- /WEB-INF/spring/appServlet/servlet-context.xml -->
			classpath:spring/appServlet/servlet-context.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup> <!-- 여러 Servlet 생성 시 로딩 순서를 지정 -->
	</servlet>
		
	<!-- servlet-mapping : 생성된 DispatcherServlet이 받아들일 요청 url 패턴 지정 -->
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>
